SECRET_KEY=defina_uma_chave_secreta_forte

DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=defina_uma_senha
DB_NAME=codego_db

FLASK_ENV=production

SMTP_USER=seu_email@gmail.com
SMTP_PASS=sua_senha_de_app
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587

MYSQL_ROOT_PASSWORD=defina_uma_senha
MYSQL_PASSWORD=defina_uma_senha
